/* .video {
  height: 90vh !important;
} 

.genero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;

}

.footer {
  background: #3f3f3f;
  height: auto;
  min-height: 280px;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .footer .informacion {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px auto; }
    .footer .informacion .infor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 25px;
      text-align: center;
      margin: 30px 0; }
      .footer .informacion .infor ul {
        list-style: none;
        margin: 0;
        text-align: left; }
        .footer .informacion .infor ul li {
          border-bottom: 0; }
          .footer .informacion .infor ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            line-height: 2em; }
            .footer .informacion .infor ul li a:hover {
              color: #000; }
    .footer .informacion .pedido {
      margin: 30px 0;
      height: 228px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;


       border: 3px solid #c9f5d1;
  margin: 80px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 80px;
  text-align: center;  }
      .footer .informacion .pedido .pedido-contenedor {
        height: auto;
        padding: 10px 80px;
        border: 3px solid #c9f5d1; }
        .footer .informacion .pedido .pedido-contenedor h2 {
          font-family: "Roboto Slab", serif;
          font-size: 15px;
          color: #fff;
          margin: 5px 0 10px 0;
          line-height: 1.2em; }
        .footer .informacion .pedido .pedido-contenedor a {
          text-decoration: none;
          color: #fff;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .footer .informacion .pedido .pedido-contenedor a .whats {
            color: #25d366;
            padding-top: 7px;
            font-size: 25px; }
            .footer .informacion .pedido .pedido-contenedor a .whats:hover {
              transition: all 0.2s;
              transform: scale(1.5); }
          .footer .informacion .pedido .pedido-contenedor a p {
            color: #fff;
            font-size: 15px;
            padding: 10px 0 0 10px;
            margin: 0; }
    .footer .informacion .direction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 25px;
      text-align: center;
      margin: 30px 0; }
      .footer .informacion .direction .dir {
        color: #DD4B3E;
        padding: 10px; }
      .footer .informacion .direction p {
        color: #fff;
        font-size: 15px;
        margin: 10px; }
  .footer hr {
    margin: 0 60px;
    visibility: visible;
    border-bottom: 1px solid #FFD1E0; }
  .footer .iconos {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    padding: 0; }
    .footer .iconos .f {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0);
      color: #1778f2; }
    .footer .iconos .t {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0);
      color: #1da1f2; }
    .footer .iconos .i {
      color: #fff;
      padding: 10px;
      margin: 10px;
      transform: rotate(0);
      color: rgba(248, 68, 122, 0.705); }
  .footer .copy {
    margin: 30px 0 10px;
    padding: 0; }
    .footer .copy h6 {
      font-size: 13px;
      color: #fff;
      text-align: center; } */