* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: normal "Roboto", sans-serif; }

/* header {
  @include header();
}
 */
main .img-header {
  height: 838px; }
