$color-pri:  #003c56 !default;
$color-logo: hsla(211, 29%, 50%, 0.575);
$color-blanco: #fcfcfc;
$color-negro: #3f3f3f;
$color-linkedIn:#0e76a8;
// 006192
$color-facebook: #1778f2;
$color-twitter:#1da1f2;
// background: linear-gradient
$color-instagram:hsla(352, 83%, 42%, 0.705);
$color-ubi: #DD4B3E;